﻿@model SchoolManagementSystemP8.Models.StudentInfoVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> Student Registration Form</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
@using (Html.BeginForm())
{

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Personal Details
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <div class="form-group">
                                <label>First Name</label>
                                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "Enter First Name" })
                            </div>
                            <div class="form-group">
                                <label>Middle Name</label>
                                @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control", @placeholder = "Enter Middle Name" })
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Enter Last Name" })
                            </div>
                            <div class="form-group">
                                <label>DOB</label>
                                @Html.TextBoxFor(x => x.DOB, new { @class = "form-control", @placeholder = "Enter DOB" })
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder = "Enter Phone" })
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter Email" })
                            </div>
                            <div class="form-group">
                                <label>Gender</label>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Gender, "male", new { @id = "male", @checked = "checked" }) Male
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(m => m.Gender, "female", new { @id = "female", @checked = "checked" }) Female
                                    </label>
                                </div>
                            </div>
                            <div class="panel panel-default col-lg-6">
                                <div class="panel-heading">
                                    Current Address
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div>
                                                <div class="form-group">
                                                    <label>Province</label>
                                                    @Html.DropDownListFor(m=>m.CProvinceId,SchoolManagementSystemP8.CommonUtilites.Utilities.GetProinceList(),"Select Province",new { @class="form-control"})
                                                </div>
                                                <div class="form-group">
                                                    <label>District</label>
                                                    @Html.DropDownListFor(m => m.CDistrictId, SchoolManagementSystemP8.CommonUtilites.Utilities.GetDistrictName(), "Select District", new { @class = "form-control" })
                                                </div>
                                                <div class="form-group">
                                                    <label>Municiplaity</label>
                                                    @Html.DropDownListFor(m => m.CMunicipalityID, SchoolManagementSystemP8.CommonUtilites.Utilities.GetMuncipalityList(), "Select Municipality", new { @class = "form-control" })
                                                </div>
                                                <div class="form-group">
                                                    <label>Ward</label>
                                                    @Html.TextBoxFor(x => x.Cward, new { @class = "form-control", @placeholder = "Enter Ward No" })
                                                </div>
                                               </div>
                                        </div>

                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                            </div>
                            <div class="panel panel-default col-lg-6">
                                <div class="panel-heading">
                                    Permanent Address
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div>
                                                <div class="form-group">
                                                    <label>Province</label>
                                                    @Html.DropDownListFor(m => m.PProvinceId, SchoolManagementSystemP8.CommonUtilites.Utilities.GetProinceList(), "Select Province", new { @class = "form-control" })
                                                </div>
                                                <div class="form-group">
                                                    <label>District</label>
                                                    @Html.DropDownListFor(m => m.PDistrictID, SchoolManagementSystemP8.CommonUtilites.Utilities.GetDistrictName(), "Select District", new { @class = "form-control" })
                                                </div>
                                                <div class="form-group">
                                                    <label>Municiplaity</label>
                                                    @Html.DropDownListFor(m => m.PMunicipalityID, SchoolManagementSystemP8.CommonUtilites.Utilities.GetMuncipalityList(), "Select Municipality", new { @class = "form-control" })
                                                </div>
                                                <div class="form-group">
                                                    <label>Ward</label>
                                                    @Html.TextBoxFor(x => x.PWardNo, new { @class = "form-control", @placeholder = "Enter Ward No" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                            </div>
                            <div class="panel panel-default col-lg-12">
                                <div class="panel-heading">
                                    Parent Details
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div>
                                                @for (int i = 0; i < Model.ParentList.Count; i++)
                                                {

                                                <div class="form-group col-lg-3">
                                                    <label>Relationship</label>
                                                    @Html.DropDownListFor(m => Model.ParentList[i].Relationship, SchoolManagementSystemP8.CommonUtilites.Utilities.GetRelationshipList(), "Select Relationship", new { @class = "form-control" })
                                                    @*<input type="text" class="form-control" />*@
                                                    @*@Html.TextBoxFor(x => Model.ParentList[i].Relationship, new { @class = "form-control" })*@
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label>Name</label>
                                                    @Html.TextBoxFor(x => Model.ParentList[i].ParentName, new { @class = "form-control", @placeholder = "Enter Name" })
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label>Phone</label>
                                                    @Html.TextBoxFor(x => Model.ParentList[i].ParentPhone, new { @class = "form-control", @placeholder = "Enter Phone" })
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label>Address</label>
                                                    @Html.TextBoxFor(x => Model.ParentList[i].Address, new { @class = "form-control", @placeholder = "Enter Address" })
                                                </div>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                            </div>
                            <div class="panel panel-default col-lg-12">
                                <div class="panel-heading">
                                    Education Info
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div>
                                               @for (int i = 0; i < Model.EducationList.Count; i++)
                                                   {
                                                    /**/
                                                    <div class="form-group col-lg-2">
                                                        <label>Level</label>
                                                        @Html.DropDownListFor(m => Model.EducationList[i].Grade, SchoolManagementSystemP8.CommonUtilites.Utilities.GetStudentLevel(), "Select Level", new { @class = "form-control" })
                                                        @*<input type="text" class="form-control" />*@
                                                    </div>
                                                    <div class="form-group col-lg-3">
                                                        <label>College</label>
                                                        @Html.TextBoxFor(x => Model.EducationList[i].College, new { @class = "form-control", @placeholder = "Enter College" })
                                                    </div>
                                                    <div class="form-group col-lg-3">
                                                        <label>Board</label>
                                                        @Html.TextBoxFor(x => Model.EducationList[i].Board, new { @class = "form-control", @placeholder = "Enter Board" })
                                                    </div>
                                                    <div class="form-group col-lg-2">
                                                        <label>Passed Year</label>
                                                        @Html.TextBoxFor(x => Model.EducationList[i].PassedYear, new { @class = "form-control", @placeholder = "Enter Passed Year" })
                                                    </div>
                                                    <div class="form-group col-lg-2">
                                                        <label>Grade</label>
                                                        @Html.TextBoxFor(x => Model.EducationList[i].Grade, new { @class = "form-control", @placeholder = "Enter Grade" })
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </div>
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
}
