﻿@model SchoolManagementSystemP8.ADONET.TBL_Relationship
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x=>x.RelationshipId)
    <div class="container">
        <div class="form-group">
            <label class="col-md-2">Relationship Name</label>
            @Html.TextBoxFor(m => m.RelationshipName, new { @class = "form-control", id = "provinceName" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Submit Form" />
        </div>
    </div>
}


