﻿
@model List<SchoolManagementSystemP8.ADONET.StudentLevel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Student Level List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Student Level
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var item in Model)
                           {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.LevelInfo</td>
                                <td>@Html.ActionLink("Edit", "Edit", new { id=item.Id}) ||
                                @Html.ActionLink("Delete","Delete",new { id=item.Id})
                                </td>
                            
                            </tr>
                           }
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


