﻿@model SchoolManagementSystemP8.Models.DistrictVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
<div class="container">
    <div class="form-group row">
        <label class="col-md-2"> Province</label>
        @Html.DropDownListFor(m => m.ProvinceId, SchoolManagementSystemP8.CommonUtilites.Utilities.GetProinceList(), "Select New Province", new { @class = "col-md-5 form-control" })
    </div>
    <div class="form-group row">
        <label class="col-md-2"> District</label>
        @Html.TextBoxFor(m => m.DistrictName, new { @class = "col-md-5 form-control" })
    </div>
    <div class="form-group row">
        <label class="col-md-2"> Status</label>
        @Html.RadioButtonFor(m=>m.Status,"True") True
        @Html.RadioButtonFor(m => m.Status, "False") False
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Submit Form" />
    </div>
</div>
}