﻿
@model List<SchoolManagementSystemP8.Models.CourseVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.ActionLink("Create Course", "Create", "Course")
</div>
<div>
    <table class="table table-bordered">
        <tr>
            <th>
                Course Name
            </th>
            <th>
                Credit Hours
            </th>
            <th>
                Created Date
            </th>
            <th>
                Stauts
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.CreditHours
                </td>
                @*<td>
                    @item.Faculty
                </td>*@
                <td>
                    @item.CreatedDate
                    </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                </td>
            </tr>
        }
    </table>
</div>


