﻿@model SchoolManagementSystemP8.ADONET.TBL_Province
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m=>m.ProvinceId)
    <div class="form-group">
        <label class="col-md-2">Province Name</label>
        @Html.TextBoxFor(m => m.ProvinceName, new { @class = "form-control", id = "provinceName" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Submit Form" />
    </div>
}

