﻿@model List<SchoolManagementSystemP8.ADONET.TBL_Province>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<div>
    @Html.ActionLink("Create Province","Create","Province")
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Province List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    Province Name
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
            {
                                <tr>
                                    <td>
                                        @item.ProvinceName
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ProvinceId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ProvinceId })
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
                
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


