﻿@model List<SchoolManagementSystemP8.Models.MunicipalityVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
    @Html.ActionLink("Create Municipality", "Create")
</div>
<div>
    <table class="table table-bordered">
        <tr>
            <th>
                Province Name
            </th>
            <th>
                District Name
            </th>
            <th>
                Municipality Name
            </th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.ProvinceName
                </td>
                <td>
                    @item.DistrictName
                </td>
                <td>
                    @item.MunicipalityName
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MunicipalityId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MunicipalityId })
                </td>
            </tr>
        }
    </table>
</div>

